<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HappyHaven | <%= listing.title %></title>
</head>
<body>
    <h3><%= listing.title %></h3>
    <p><%= listing.description %></p>
    <p>&#8377;<%= listing.price.toLocaleString("en-IN") %></p>   <!-- toLocaleString("en-IN") used to covert the number into , seperated number according to indian standard -->
    <p><%= listing.location %></p>
    <p><%= listing.country %></p>
    <img src="<%=listing.image%>" alt="">
    <br><br>
    <a href="/listings/<%=listing._id%>/edit">Edit the listing</a> <br><br>
    <form method="post" action="/listings/<%=listing._id%>?_method=DELETE">
        <button>Delete the listing</button>
    </form>
</body>
</html>